@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
body#auth {
    background-color: #304FFD;
}
body#reg, body#pass-chg, body#pass-rec {
    background-color: #E9F3F5;
}
a {
    color: #304FFD;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover {
    color: #6278f3;
    text-decoration: underline;
    transition: all 0.3s;
}
    

:root {
    --border-radius: 15px;
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
body#auth .container {
    gap: 94px;
}


.interactive-field {
    background: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body#auth .interactive-field {
    width: 600px;
    height: 884px;
}
body#reg .interactive-field {
    width: 600px;
    height: 878px;
}
body#pass-rec .interactive-field {
    width: 600px;
    height: 672px;
}
body#pass-chg .interactive-field {
    width: 600px;
    height: 859px;
}

h4 {
    margin: 0px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #3F434A;
}

img#illustration {
    user-select: none;
}


.interactive-field__dataio {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
.guide-field {
    margin-top: auto;
    margin-bottom: 8px;
    color: #8A9099;
}


.user-data {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 100%;
    padding-bottom: 15px;
}
.user-data p {
    color: #8A9099;
    margin-bottom: 9px;
    margin-top: 0px;
}
.user-data input[type="password"], .user-data input[type="text"], .user-data input[type="email"] {
    border: 2px solid #E8E9EB;
    border-radius: var(--border-radius);
    width: calc(100% - 4px - 16px - 2px);
    height: 40px;
    font-family: 'Stem';
    font-style: normal;
    outline: none;
    font-weight: 300;
    padding-left: 16px;
    caret-color: transparent;
}
.user-data div {
    width: 100%;
    position: relative;
}


.password-data {
    position: relative;
}
.password-data input[type="password"] {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.02em;
    outline: none;
    color: #3F434A;
    width: calc(100% - 48px - 16px - 4px);
    padding-right: 48px;
    caret-color: transparent;
}
.password-data label{
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 16px;
}
.password-data label input[type="checkbox"] {
    display: none;
    cursor: pointer;
}
.password-data label span {
    position: absolute;
    display: block;
    top: calc(50% - 3.25px);
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/hide.svg") no-repeat;
}
.password-data label input[type="checkbox"]:checked ~ span {
    background: url(../img/unhide.svg) no-repeat;
    top: calc(50% - 9.57px);
} 


.input-field__lose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.input-field__remember {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}
.input-field__remember input {
    background: #304FFD;
    margin: 0px 8px 0px 0px;
    width: 16px;
    height: 16px;
}
.input-field__remember p {
    color: #595F69;
    margin: 0;
}
.input-field__lose a {
    color: #304FFD;
}

.input-field__lose__mobile {
    display: none;
}

@media screen and (max-width: 1680px) {
    .interactive-field__dataio {
        width: 320px;
    }
    body#auth img#illustration {
        width: 408.25px;
        height: 415px;
    }
    body#auth .interactive-field {
        width: 430px;
        height: 688px;
    }
    body#auth .container {
        gap: 70.75px;
    }

    body#reg .interactive-field {
        width: 430px;
        height: 878px;
    }

    body#pass-rec .interactive-field {
        width: 430px;
        height: 686px;
    }

    body#pass-chg .interactive-field {
        width: 430px;
        height: 856px;
    }
}

@media screen and (max-width: 680px) {
    .interactive-field__dataio {
        width: 252px;
    }
    body#auth .input-field__lose__mobile {
        display: flex;
        justify-content: center;
    }
    body#auth .input-field__lose a {
        display: none;
    }
    body#auth .illustration-box {
        display: none;
    }
    body#auth .interactive-field {
        width: 316px;
        height: 688px;
    }
    .container {
        gap: 0px;
    }

    body#reg .interactive-field {
        width: 316px;
        height: 856px;
    }

    body#pass-rec .interactive-field {
        width: 316px;
        height: 626px;
    }

    body#pass-chg .interactive-field {
        width: 316px;
        height: 788px;
    }
}